<%
  options ||= { }
  result ||= nil

  unless @search 
    session_key = "#{params[:controller]}/#{params[:action]}/search"
    @search = SearchObject.new(params[:_] || params[:search] || session[session_key])
    session[session_key] = @search.opts
  end

  @search.query_options.merge!(options)
  columns ||= nil
  @search.columns = columns if columns

  unless result
    query ||= @search.query
    result = query.paginate(:page => params[:page])
    count = query.count
  end

  count ||= result.size
  total_count ||= Content::Query.new(:params => options).count

-%>
<hr />
<div class="streamlined_header"><h3><%=h title %>: <%=h count %> <%= total_count && 'of' %> <%=h total_count %></h3></div>

<% form_for(:search, @search, :url => request.url.sub(/\?_=.*/, '') ) do | f | %>
  <%= f.text_field :search, :size => 80 %> 
  <%= submit_tag 'Search' %> 
  <%= link_to 'link to results', :params => { :_ => @search.search } %> 
<% end %>
&nbsp;<br />

<% if result.empty? %>
<p><i>None</i></p>
<% else %>
<%= will_paginate result %>
<table class="streamlined">
<thead>
<tr>
<% if query && query.versions %>
  <th>Content ID</th>
<% end %>
  <% @search.columns.each do | c | %>
  <th><%= h c.to_s.titleize %></th>
  <% end %>
  <th>Updater</th>
  <th>Version</th>
  <th></th>
  <th>Data</th>
</tr>
</thead>
<tbody>
<% ri = -1; result.each do | x | %>
<tr class="<%= (ri += 1) % 2 == 0 ? :even : :odd %>">
  <!-- class = <%= h x.class.name %> -->
  <% ctlr = 
      case x
      when Content
        :contents
      when Content::Version
        :content_versions
      else
        nil
      end
     %>
<% if query && query.versions %>
  <td><%= link_to h(x.content.id),
	  :controller => :contents,
          :action => :show, 
          :id => x.content
       %>
  </td>
<% end %>
      <% @search.columns.each do | c | %>
  <% v = x.send(c) %>
  <td><%= link_to h(v.code),
	  :controller => c.to_s.pluralize,
          :action => :show, 
          :id => v
       %></td>
  <% end %>
  <td><%= link_to x.updater.login,
	  :controller => 'user',
          :action => :show, 
          :id => x.updater
	  %></td>
  <td><%= link_to x.version_as_html,
	  :controller => ctlr,
          :action => :show, 
          :id => x
	  %></td>
  <td><%= x.preview_link %></td>
  <td><%= link_to x.data_short,
	  :controller => ctlr,
          :action => :show, 
          :id => x
	  %></td>
</tr>
<% end %>
</tbody>
</table>
<%= will_paginate result %>
<hr />
<% end %>

