<%
  options ||= { }
  result ||= nil

  unless @search 
    session_key = "#{params[:controller]}/#{params[:action]}/search"
    @search = SearchObject.new(params[:search] || session[session_key])
    session[session_key] = @search.opts
    options[:user_query] = @search.search
  end

  unless result
    query ||= Content::Query.new(options)
    result = query.paginate(:page => params[:page])
    count = query.count
  end

  count ||= result.size
  total_count ||= count

  columns ||= [ 
             :content_type, 
             :content_key,
             :language,
             :country,
             :brand,
             :application,
             :mime_type,
            ]
-%>
<hr />
<div class="streamlined_header"><h3><%=h title %>: <%=h count %> <%= total_count && 'of' %> <%=h total_count %></h3></div>

<% form_for(:search, @search, :url => request.url ) do | f | %>
  <%= f.text_field :search, :size => 80 %> 
  <%= submit_tag 'Search' %> 
<% end %>
&nbsp;</br>

<% if result.empty? %>
<p><i>None</i></p>
<% else %>
<%= will_paginate result %>
<table class="streamlined">
<thead>
<tr>
  <% columns.each do | c | %>
  <th><%= h c.to_s.titleize %></th>
  <% end %>
  <th>Version</th>
  <th>Data</th>
</tr>
</thead>
<tbody>
<% ri = -1; result.each do | x | %>
<tr class="<%= (ri += 1) % 2 == 0 ? :even : :odd %>">
  <% ctlr = 
      case x
      when Content
        :contents
      when Content::Version
        :content_versions
      else
        nil
      end
     %>
      <% columns.each do | c | %>
  <% v = x.send(c) %>
  <td><%= link_to h(v.code),
	  :controller => c.to_s.pluralize,
          :action => :show, 
          :id => v
       %></td>
  <% end %>
  <td><%= link_to h(x.version_as_html),
	  :controller => ctlr,
          :action => :show, 
          :id => x
	  %></td>
  <td><%= link_to h(x.data_short),
	  :controller => ctlr,
          :action => :show, 
          :id => x
	  %></td>
</tr>
<% end %>
</tbody>
</table>
<%= will_paginate result %>
<% end %>

