<%
  # $stderr.puts "options = #{options.inspect}"
  # raise "options = #{options.inspect}"
   
  ContentVersion

  result = @content.versions.paginate(:page => params[:page])

  columns = [ 
             :version,
             :updater,
             :updated_at,
            ]
   
-%>
<hr />
<div class="streamlined_header"><h3><%=h 'Versions' %>: <%=h result.size %></h3></div>
<% will_paginate result %>
<% if result.empty? %>
<p><i>None</i></p>
<% else %>
<table class="streamlined">
<thead>
<tr>
  <% columns.each do | c | %>
  <th><%= h c.to_s.titleize %></th>
  <% end %>
  <th>Content</th>
  <th>In RLNs</th>
</tr>
</thead>
<tbody>
<% ri = -1; result.each do | x | %>
<tr class="<%= (ri += 1) % 2 == 0 ? :even : :odd %>">
  <% columns.each do | c | %>
  <% v = x.send(c) %>
  <td><%= link_to h(v.to_s),
	  :controller => :content_versions,
          :action => :show, 
          :id => x
       %></td>
  <% end %>
  <td><%= link_to h(x.data_short),
	  :controller => :content_versions,
          :action => :show, 
          :id => x
	  %></td>

  <td>
    <%= 
       x.revision_list_names.map do | n |
         link_to h(n.name),
           :controller => :revision_list_names,
           :action => :show, 
           :id => n
       end.join(', ')
    %>
  </td>
</tr>
<% end %>
</tbody>
</table>
<% end %>

