<% form_tag({ :action => :search }, :method => :get) do %>
 <table>
  <thead>
  <tr>
  <th>Column</th>
  <th>Show?</th>
  <th>Search</th>
  </tr>
  </thead>

  <tbody>
  <%
     Content.display_column_names.each do | c |
     %>

  <tr>
  <td><label><%=h c.to_s %></label></td>
  <td><%= check_box :columns, c %></td>
  <td><%= text_field :search, c %> 
      <%= c == :id ? "(not shown by default)" : ""
      %>
  </td>
  </tr>

  <% end %>

  <tr>
  <td><label><%=h 'version_list_id' %></label></td>
  <td><%= '' %></td>
  <td><%= text_field :search, :version_list_id %></td>
  </tr>

  <tr>
  <td><label><%=h 'version_list_name' %></label></td>
  <td><%= '' %></td>
  <td><%= text_field :search, :version_list_name %></td>
  </tr>

  <tr><td colspan="3"><hr />Options:</td></tr>
<!--
  <tr>
  <td><label><%=h 'sort' %></label></td>
  <td><%= check_box :search, :sort %></td>
  </tr>
-->

  <tr>
  <td><label><%=h 'unique' %></label></td>
  <td><%= check_box :search, :unique %></td>
  </tr>

  <tr>
  <td><label><%=h 'latest' %></label></td>
  <td><%= check_box :search, :latest %></td>
  </tr>

  <tr>
  <td><label><%=h 'versions' %></label></td>
  <td><%= check_box :search, :versions %></td>
  </tr>

  <tr><td><%= submit_tag 'Search' %></td></tr>

  </tbody>
  </table>
<% end %>
